<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="book01" class="com.cxz.bean.Book">
		<property name="bookName" value="三国"></property>
	</bean>
	<bean id="car01" class="com.cxz.bean.Car">
		<property name="carName" value="宝马王子"></property>
	</bean>
	<bean id="person01" class="com.cxz.bean.Person">
		<!-- 字面量 -->
		<property name="salary" value="#{18.36 * 3}"></property>
		<!-- 引用其它bean的某个属性值 -->
		<property name="lastName" value="#{book01.bookName}"></property>
		<!-- 引用其它bean -->
		<property name="car" value="#{car01}"></property>
		<!-- 调用静态方法 
				UUID.randomUUID().toString().subString(11) 
				格式：#{T(静态类全类名).静态方法(参数列表)).} -->
		<property name="email"
			value="#{T(java.util.UUID).randomUUID().toString().substring(0, 11)}">
		</property>
		<!-- 调用非静态方法 -->
		<property name="gender" value="#{book01.getBookName()}"></property>
	</bean>
</beans>
